@charset "UTF-8";

#header{
  width: 100%;
  margin: 0 auto;
  z-index: 99;
  position: absolute;
  top:0;
}

#header .header_wrap{
  width: calc(100% - 10%);
  margin: 0px auto;
  display: flex; 
  justify-content: space-between;
  padding-top: 30px;
}
#header .header_wrap .hd_left{
  width: 15%;
  text-align: left;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 2%;
}
#header .header_wrap .hd_left>li{
  width: 50%;
}
#header .header_wrap .hd_left a{
  font-size: 13pt;
  color:#4D3E3B;
}
#header .header_wrap .hd_logo{
  width: 65%;
  text-align: center;
}
#header .header_wrap .hd_logo img{
  width: 150px;
}
#header .header_wrap .hd_right{
  width: 20%;
  display: flex;
  justify-content: space-around;
  text-align: right;
  box-sizing: border-box;
  padding-top: 2%;
}
#header .header_wrap .hd_right li{
  width: 50%;
  line-height: 30px;
  /* border: 1px solid yellow; */
}
#header .header_wrap .hd_right img{
  width: 25px;
}
#header .header_wrap .hd_right a{
  padding-left: 5px;
  line-height:30px;
  font-size: 13pt;
  color: #4D3E3B;
}

#header .gnb_wrap{
  width: 100%;
  background-color: #fff;
}
#header .gnb_wrap .gnb{
  width: calc(100% - 10%);
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  line-height: 70px;
  border-top: 0.5px solid #4d3e3b69;
  /* border-bottom: 0.5px solid #4d3e3b69; */
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
#header .gnb_wrap .gnb>li a{
  font-size: 13pt;
  color: #4D3E3B;
}
#header .gnb_wrap .gnb .sub{
  padding-top:20px;
  position : absolute;
  top : 60px;
  line-height : 40px;
}
#header .gnb_wrap .gnb .sub>li a{
  font-size: 11pt;
}
#header .gnb_wrap .gnb .sub>li a:hover{
  font-weight: 500;
}
#header .burger{
  display: none;
}

@media all and (min-width:769px) and (max-width:1024px){
  #header .header_wrap .hd_left, #header .header_wrap .hd_right{
    width: 25%;
  } 
  #header .header_wrap .hd_left a{
    font-size: 10pt;
  }
  #header .header_wrap .hd_right a{
    font-size: 10pt;
  }
  #header .header_wrap .hd_logo img{
    width: 100px;
  }
  #header .header_wrap .hd_logo{
    width: 50%;
  }
  #header .header_wrap .hd_right img{
    width: 20px;
    padding-top: 6%;
  }
  #header .gnb_wrap .gnb>li a{
    font-size: 10pt;
  }
  #header .gnb_wrap .gnb .sub>li a{
    font-size: 9pt;
  }
  #header .gnb_wrap .gnb{
    width: 100%;
  }

}
@media all and (max-width:768px){
  #header .burger{
    display: block;
  }
  #header .header_wrap .hd_left, #header .header_wrap .hd_right{
    display: none;
  } 
  #header .header_wrap .hd_logo{
    width: 100%;
    margin: 0 auto;
  }
  #header .gnb_wrap{
    display: none;
  }
  #header .burger .conger{
    position: absolute;
    top: 40%; right: 5%;
    cursor: pointer;
  }
  #header .burger .conger span{
    font-size: 23pt;
    color: #6b5854;
  }
  #header .burger .h_wrap{
    width: 60%;
    height: 100vh;
    background-color: #4D3E3B;
    position:fixed;
    top:0px;right: -100%;
    padding: 20px;
    overflow-y: scroll;
  }
  #header .burger .h_wrap .close{
    width: 80px;height: 80px;
    text-align: center;
    line-height: 90px;
    background-color: #4D3E3B;
    position: absolute;
    left: 0px; top:2%;
    box-sizing: border-box;
    color: #c7bebd;
    cursor: pointer;
    /* border: 1px solid red; */
    transition: all 0.5s;
  }
  #header .burger .h_wrap .close:hover{
    transform: rotate(90deg);
  }
  #header .burger .h_wrap .h_gnb>li .h_sub{
    width: 80%;
    margin-left: auto;
    display: none;
    background-color: #ccb274;
    padding:10px;
    box-sizing: border-box;
  }
  #header .burger .h_wrap .h_gnb>li:nth-child(2) .h_sub{
    display: block;
  }
  #header .burger .h_wrap .h_gnb>li .h_sub>li{
    border-bottom: 0.4px solid #4d3e3b28;
  }
  #header .burger .h_wrap .h_gnb>li .h_sub>li a{
    border-left: 0.4px solid #4d3e3b28;
    font-size: 13pt;
    line-height: 30px;
    color: #4D3E3B;
  }
  /* #header .burger .h_wrap .h_gnb>li .h_sub>li:hover::before{
    content: "🍫";
    margin-right: 3px;
  } */
  #header .burger .h_wrap .h_gnb{
    text-align: right;
  }
  #header .burger .h_wrap .h_gnb>li:first-child{
    text-align: center;
    border-bottom: 1px solid #302725;
  }
  #header .burger .h_wrap .h_gnb>li p{
    color: #c7bebd;
    font-size: 18pt;
    line-height: 60px;
  }
  #header .burger .h_wrap .h_gnb>li .h_word{
    display: flex;
    justify-content: space-between;
  }
  #header .burger .h_wrap .h_gnb>li .h_word .arrow{
    font-size: 8pt;
  }
  #header .burger .h_wrap .h_gnb>li .h_sub>li a:hover{
    font-weight: 500;
  }

}

