@charset "UTF-8";

*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none; color:#000}
img{border: 0; vertical-align: top;}

body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* font-family: "Merriweather", serif;
font-style: italic; */

.clearFix{content: ""; display: block; clear: both;}

#section{
  width: 100%;
  margin-top: 200px;
}
#section .main{
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
#section .main .banner{
  width: 100%;
  position: relative;
}
#section .main .banner>li{
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
  position: absolute;
  top:0px; left: 0px;
  /* border: 1px solid red; */
}
#section .main .banner>li:first-child{
  display: block;
}
#section .main .banner>li .bn_wrap{
  width:50%;
  position: absolute;
  top: 35%;left: 8%;
  overflow: hidden;
}
#section .main .banner .bn_conts{
  width: 100%;
  position: relative ; top: 0px;
  transition: all 0.1s;
}

#section .main .banner>li .bn_title>span{
  font-size: 12pt;
  font-family: "Merriweather", serif;
  font-style: italic;
}
#section .main .banner .bn_conts .bn_title{
  font-size: 1.8vw;
  font-weight: 500;
}
#section .main .banner .bn_conts .bn_txt{
  font-size: 1.4vw;
  margin-top:5px;
}
#section .main .banner .bn_conts .bn_bt{
  width: 20%;
  text-align: center;
  margin-top:20px;
  padding: 4px;
  font-size: 1.2vw;
  font-weight: 300;
  background-color:#4d3e3bcc;
  color: #fff;
  cursor: pointer;
}

#section .main .nav{
  width: 5%;
  position: absolute;
  bottom: 0%;
  left: 45%;
  display: flex;
  justify-content: space-around;
}
#section .main .nav>li{
  width: 10px;height: 10px;
  border-radius: 50%;
  background-color: #746868;
  cursor: pointer;
}
#section .main .nav>li.on{
  background-color:#62463C
}

/* --------------menu---------------- */

#section .menu{
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
  /* border: 1px solid red; */
}
#section .menu .menu_title{
  width: calc(100% - 20%);
  margin: 50px auto;
  margin-bottom: 10px;
  /* border: 1px solid skyblue; */
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 400;
}
#section .menu .menu_txt{
  width: calc(100% - 20%);
  margin: 0 auto;
}
#section .menu .menu_wrap{
  width: 100%;
  height: 400px;
  margin-top: 50px;
  display: flex;
  box-sizing: border-box;
}
#section .menu .menu_wrap .menu_bt{
  width: 10%;
  margin-left: 7%;
  box-sizing: border-box;
}
#section .menu .menu_wrap .menu_bt>li{
  width: 100%;
  text-align: right;
  line-height: 56px;
  position: relative;
  font-size: 18pt;
  font-weight: 300;
  cursor: pointer;
  /* border: 1px solid red; */
}
#section .menu .menu_wrap .menu_bt>li.highlight::after{
  content: "";
  width:240%; height: 13px;
  position: absolute; 
  top: 50%; left: -140%;
  z-index: -1;
  background-color: #EFD4CD;
}
#section .menu .menu_wrap .menu_conts{
  width: 80%;
  margin-left: 30px;
  box-sizing: border-box;
  /* border: 1px solid red; */
  overflow: hidden;
}
#section .menu .menu_wrap .menu_conts>li{
  width: 80%;
  position: relative;
  display: none;
}
#section .menu .menu_wrap .menu_conts>li.on{
  display: block;
}
#section .menu .menu_wrap .menu_conts>li .m_con{
  display: flex;
  justify-content: space-around;
  position: absolute;
  top:0px; left: 0px;
}
#section .menu .menu_wrap .menu_conts>li .m_con>li{
  width: 100%; height: 100%;
  text-align: center;
  /* border: 1px solid orange; */
  margin-left: 40px;
  box-sizing: border-box;
}
#section .menu .menu_wrap .menu_conts>li .m_con>li:first-child{
  margin-left: 100px;
}
#section .menu .menu_wrap .menu_conts>li .m_con>li .item_wrap{
  width: 100%; height: 100%;
  margin: 5px auto;
  overflow: hidden;
}
#section .menu .menu_wrap .menu_conts>li .m_con>li .m_item{
  width: 300px; height: 300px;
  background-size: cover;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}
#section .menu .menu_wrap .menu_conts>li .m_con>li .m_item:hover{
  transform: scale(1.05);
}
#section .menu .menu_wrap .menu_conts>li .m_con>li .i_name{
  font-size: 13pt;
  font-weight: 500;
}
#section .menu .menu_wrap .menu_conts>li .m_con>li p{
  margin-top: 5px;
  font-weight: 400; font-size: 10pt;
  color: #676767;
}

#section .menu .m_arrow{
  width: 10%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;left: 8%;
  cursor: pointer;
}
#section .menu .m_arrow p{
  width: 30px;
  text-align: center;
  color: #bdbdbd;
}
#section .menu .m_arrow p span{
  font-size: 15pt;
  cursor: pointer;
}

/* ------event------------------------------------------- */

#section .event{
  width: 100%;
  height: 120%;
  min-height: 27vh;
  margin-top: 200px;
  padding-top: 3%;
  padding-bottom: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}
#section .event .event_title{
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 400;
}
#section .event .e_wrap{
  display: flex;
}
#section .event .e_wrap .e_left{
  width: 40%;
  text-align: center;
  border:1px solid #8f766d;
  background-color: #fff;
  padding: 50px 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #000;
}
#section .event .e_wrap .e_left .e_copy{
  font-size: 1.5vw;
  /* color: #fff; */
  font-weight: 400;
  line-height: 20px;
}
#section .event .e_wrap .e_left h2{
  font-size: 1vw; 
  font-weight: 400;
  /* color: #fff; */
  margin-top: 20px;
}
#section .event .e_wrap .e_left .e_bt{
  width: 50%;
  margin: 0px auto;
  margin-top: 50px;
  display: flex; justify-content: space-between;
  background-color: #fff;
  border: 2px solid #62463C;
  color: #62463C;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
  box-sizing: border-box;
}
#section .event .e_wrap .e_left .e_bt input{
  border: none;
  width: 50%;
  font-size: 0.8vw;
}
#section .event .e_wrap .e_left .e_bt .e_arrow span{
  padding-top: 2px;
  font-weight: 200;
}
#section .event .e_wrap .e_item{
  width: 20%;
  position: relative;
}
#section .event .e_wrap .e_item .item_img{
  width: 120%;
  height: 340%;
  position: absolute;
  top:-140%; left:-10%;
  background-image: url(images/dipped\(1\).png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#section .event .e_wrap .e_item .item_img:hover{
  animation: fruit 0.3s ease-in-out;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes fruit{
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(5deg);
  }

  }
#section .event .e_wrap .e_right{
  width: 45%;
  padding-top: 10px;
  box-sizing: border-box;
}
#section .event .e_wrap .e_right .e_tag{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
#section .event .e_wrap .e_right .e_tag>li{
  display: inline-block;
  background-color: #EFD4CD;
  padding:10px 30px;
  color: #fff;
  border-radius: 30px;
  font-size: 1vw; font-weight: 500;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 2px 2px 3px rgb(42, 42, 42);
  /* border: 1px solid red; */
}
#section .event .e_wrap .e_right .e_tag>li:hover{
  transform: translateY(-8px);
  
}
#section .event .e_wrap .e_right .e_tag>li:nth-child(1){
  color: #746868;
}
#section .event .e_wrap .e_right .e_tag>li:nth-child(2){
  background-color:#62463C;
}
#section .event .e_wrap .e_right .e_tag>li:nth-child(3){
  background-color: #c1c1c1;
}
#section .event .e_wrap .e_right .e_tag>li:nth-child(4){
  background-color: #fff;
  color: #746868;
}
#section .event .e_wrap .e_right .e_tag>li:nth-child(5){
  color: #746868;
}
#section .event_mob{
  display: none;
}

/* -bakery------------------------------------- */

#section .bakery{
  width: 100%;
  margin-top: 200px;
}
#section .bakery .b_title{
  width: calc(100% - 20%);
  margin: 0 auto;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 400;
}
#section .bakery .b_txt{
  width: calc(100% - 20%);
  margin: 10px auto;
}
#section .bakery .b_conts{
  width: calc(100% - 20%);
  margin: 50px auto;
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#section .bakery .b_conts>li{
  width: 300px;
  position: relative;
  transition: all 0.1s;
  cursor: pointer;
}
#section .bakery .b_conts>li .b_item{
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  z-index: -1;
  position: absolute;
  bottom: 30px;
}
#section .bakery .b_conts>li .empty{
  background-color: #fff;
  width: 100%;
  height: 200px;
  border-top: 1px solid rgb(235, 209, 164);
}

#section .bakery .b_conts>li .b_t_name{
  margin-top: 20%;
  box-sizing: border-box;
  font-size: 12pt;
  font-weight: 400;
  color: #846c1f;
  border: 1px solid #5e4903cc;
  display: inline-block;
  padding: 3px 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 90;
  transition: all 1s;
}
#section .bakery .b_conts>li:hover .b_t_name{
  color: #fff;
}
#section .bakery .b_conts>li .b_t_name:before{
  content: "";
  width: 100%;height: 100%;
  background-color: #5e490300;
  position: absolute;
  top: 0;left: -100%;
  transition: all 0.8s;
  z-index: -1;
}
#section .bakery .b_conts>li .b_t_name.slr:before{
  content: "";
  width: 100%;height: 100%;
  background-color: #5e4903cc;
  position: absolute;
  top: 0;left: 0%;
  z-index: -1;
}
#section .bakery .b_conts>li .b_ribbon{
  width: 100%;height: 50px;
  margin-top: 30px;
}
#section .bakery .b_conts>li .b_ribbon img{
  width: 30%;
}

/* -------------stage------------------------------------------- */

#section .stage{
  width: 100%;
  margin-top: 100px;
  display: flex;
}
#section .stage .s_img{
  width: 40%; height: 80vh;
  margin-top: 100px;
  background-image: url(images/stageback.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  /* border: 1px solid red; */
}
/* #section .stage .s_img:hover{
  background-image: url(images/stageback\ 1.png);
}
#section .stage .s_img:hover::after{
  content:"위치";
  text-align: center;
  width: 30%;
  position: absolute;
  top:50%;left: 30%;
} */
#section .stage .s_conts{
  width: 60%;
  height: 50%;
  margin: 100px auto;
  padding: 50px;
  /* border: 1px solid red; */
  box-sizing: border-box;
}
#section .stage .s_conts .s_title{
  font-size: 25pt;
  line-height: 100px;
  font-weight: 500;
  font-family: "Merriweather", serif;
  font-style: italic;
}
#section .stage .s_conts p{
  width: 80%;
  line-height: 30px;
  font-size: 14pt;
  margin-bottom: 50px;
}
#section .stage .s_conts .course{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#section .stage .s_conts .course>li{
  width: 33%; height: 30vh;
  /* border: 1px solid blue; */
  margin: 0 auto;
  text-align: center;
}
#section .stage .s_conts .course>li .c_img{
  width: 100%;height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
#section .stage .s_conts .course>li .c_img:hover::after{
  content: "자세히 보기";
  text-align: center;
  width: 30%;
  position: absolute;
  top:50%;left: 30%;
  border: 1px solid gray;
  background-color: gray;
  color: #fff;
  padding: 5px;
}
#section .stage .s_conts .course>li:first-child .c_img{
    background-size: cover;
}
#section .stage .s_conts .course>li .c_txt{
  width: 100%;
  text-align: center;
  font-size: 13pt;
  margin-top: 10px;
}

/* ---insta---------------------------------------- */

#section .insta_mob{
  display: none;
}
#section .insta{
  width: 100%;
  margin: 50px auto;
}
#section .insta .ins_title{
  font-size: 20pt;
  font-weight: 500;
  text-align: center;
}
#section .insta .ins_box{
  width: calc(100% - 30%);
  height: 600px;
  margin: 20px auto;
  background-color: #62463C;
  display: flex;
}
#section .ins_box .ins_left, #section .ins_box .ins_right{
  width: 40%;
  overflow: hidden;
}
#section .ins_box ul{
  width: 100%;
  height: 200%;
  margin-top: -40%;
}
#section .ins_box ul>li{
  margin: 20px auto;
  /* width: 50%;
  height: 25%; */
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}
#section .ins_box ul>li:hover::after{
  content: "❤️";
  text-align: center;
  width: 100%;height: 100%;
  position: absolute;
  box-sizing: border-box;
  padding-top: 45%;
  font-size: 30pt;
  background-color: #2424248b;

}
#section .ins_box .ins_tag{
  width: 20%;
  margin: 0 auto;
  position: relative;
}
#section .insta .ins_tag .tag_txt{
  color: #fff;
  margin-top: 100%;
  font-size: 15pt;
}
#section .insta .tag_png{
  width: 350px; height: 350px;
  background-image: url(images/eventice.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  bottom:-50px; right: -100px;
}


@media all and (min-width:769px) and (max-width:1024px){

  #section .main{
    height: 500px;
  }
  #section .main .banner>li{
    background-size: contain;
    height: 400px;
  }
  #section .main .nav{
    display: none;
  }
  #section .menu .menu_title{
    width: 100%;
    font-size: 17pt;
    padding-left: 5%;
    box-sizing: border-box;
  }
  #section .menu .menu_txt{
    width: 100%;
    font-size: 10pt;
    padding-left: 5%;
    box-sizing: border-box;
  }
  #section .menu .menu_wrap{
    height: 320px;
  }
  #section .menu .menu_wrap .menu_bt>li{
    font-size: 13pt;
    line-height: 45px;
  }
  #section .menu .menu_wrap .menu_conts>li .m_con>li .i_name{
    font-size: 10pt;
    font-weight: 400;
    margin-top: 5px;
  }
  #section .menu .menu_wrap .menu_conts>li .m_con>li .m_item{
    width: 200px; height: 200px;
  }
  #section .menu .menu_wrap .menu_conts>li .m_con>li p{
    font-weight: 300;
  }
  #section .menu .m_arrow{
    left: 10%;
  }
  #section .menu .m_arrow p span{
  font-size: 12pt;
  }

  #section .event{
  margin-top: 100px;
  height: 70%;
  }
  #section .event .event_title{
    font-size: 17pt;
  }
  #section .event .e_wrap .e_left .e_copy{
  font-size: 11pt;
  }
  #section .event .e_wrap .e_left h2{
  font-size: 8pt;
  }
  #section .event .e_wrap .e_left .e_bt{
  width: 50%;
  height: 40px;
  font-size: 8pt;
  margin-top: 30px;
  line-height: 40px;
  padding: 0px 10px;
  /* border: 1px solid red; */
  }
  #section .event .e_wrap .e_item .item_img{
  width: 140%;
  height: 350%;
  }
  #section .event .e_wrap .e_left .e_bt .e_arrow span{
    padding-top: 6px
  }
  #section .event .e_wrap .e_right .e_tag>li{
  padding:10px 10px;
  font-size: 9pt;
  }

  #section .bakery .b_title{
    width: 100%;
    padding-left:5%;
    font-size: 17pt;
    box-sizing: border-box;
  }
  #section .bakery .b_txt{
    width: 100%;
    padding-left:5%;
    font-size: 10pt;
    box-sizing: border-box;
  }
  #section .bakery .b_conts{
  width: 100%;
  }
  #section .bakery .b_conts>li .b_t_name{
  font-size: 10pt;
  }
  #section .stage .s_conts .s_title{
    font-size: 17pt;
  }
  #section .stage .s_conts p{
    font-size: 11pt;
    line-height: 25px;
  }
  #section .stage .s_conts .course>li .c_txt{
  font-size: 11pt;
  }
  #section .stage .s_img{
  margin-top: 50px;
  }
  #section .stage .s_conts{
  margin: 0px auto;
  }

  #section .insta .ins_title{
    font-size: 17pt;
    font-weight: 400;
  }
  #section .insta .ins_box{
    width: calc(100% - 20%);
  }
  #section .insta .ins_tag .tag_txt{
    font-size: 11pt;
  }
  #section .insta .tag_png{
    width: 300px; height: 300px;
    background-size: contain;
    bottom:-59px;
  }
  #section .ins_box ul>li{
    width: 200px; height: 200px;
  }
}



@media all and (max-width:768px){
  #section{
    margin-top: 120px;
  }
  #section .main{
    height: 400px;
}
  #section .main .nav{
    display: none;
}
  #section .main .banner>li{
    background-size: contain;
    height: 50vh;
}
  #section .main .banner .bn_conts .bn_title{
    font-size: 12pt;
}
  #section .main .banner>li .bn_title>span{
    font-size: 7pt;
}
  #section .main .banner .bn_conts .bn_txt{
    font-size: 8pt;
}

  #section .menu .menu_title{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 14pt;
  }
  #section .menu .menu_txt{
    width: 100%;
    font-size: 10pt;
    text-align: center;
    margin-top: 10px;
  }
  #section .menu .menu_wrap{
    display: block;
    height: 400px;
    margin-top: 30px;
  } 
  #section .menu .menu_wrap .menu_bt{
    width: calc(100% - 20%);
    display: flex;
    justify-content: space-around
  }
  #section .menu .menu_wrap .menu_bt>li{
    width: 15%;
    font-size: 11pt;
    font-weight: 300;
    text-align: center;
  }
  #section .menu .menu_wrap .menu_bt>li.highlight::after{
    content: "";
    width:65%; height: 20px;
    transform: rotate(-15deg);
    position: absolute; 
    top: 20px; left: 15px;
  }
  #section .menu .menu_wrap .menu_conts{
    width: 100%;
    height: 70%;
  }
  #section .menu .menu_wrap .menu_conts>li{
    width: 100%;
    height: 70%;
  }
  #section .menu .menu_wrap .menu_conts>li .m_con>li{
    margin-left: 40px;
  }
  #section .menu .menu_wrap .menu_conts>li .m_con>li .i_name{
    font-size: 10pt;
  }
  #section .menu .menu_wrap .menu_conts>li .m_con>li p{
    font-size: 9pt;
  }
  #section .menu .menu_wrap .menu_conts>li .m_con>li:first-child{
    margin-left: 10px;
  }
  #section .menu .menu_wrap .menu_conts>li .m_con>li .m_item{
    width: 200px; height: 200px
  }
  #section .menu .m_arrow{
    width: 100%;
    justify-content: center;
    left: 0px; bottom: 0px;
  }

  #section .event{
    display: none;
  }
  #section .event_mob{
    width: 100%;
    display: flex;
    margin-top: 100px;
    position: relative;
  }
  #section .event_mob .e_circle{
    width: 400px;height: 400px;
    background-color: #4D3E3B;
    border-radius: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-left: 20px;
    background-image: url(images/header-logo-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.8s;
  }
  #section .event_mob .e_circle:hover{
    background-image: none;
    transform: scale(0.8);
  }
  #section .event_mob .e_circle:hover .e_copy{
    color: #9c9391;
  }
  #section .event_mob .e_circle:hover h2{
    color: #aca4a1;
  }
  #section .event_mob .e_circle img{
    width: 100px;height: 50px;
    text-align: center;
    margin: 0 auto;
  }
  #section .event_mob .e_circle .e_copy{
    text-align: center;
    font-size: 15pt;
    font-weight: 400;
    margin-top: 170px;
    color:#4d3e3b00
  }
  #section .event_mob .e_circle h2{
    width: 300px;
    margin : 20px auto;
    font-size: 12pt;
    text-align: center;
    color:#4D3E3B
  }
  #section .event_mob .e_item{
    width: 60%; height:100%;
    background-image: url(images/dipped\(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: 1px solid red; */
    position: absolute;
    right: 0;bottom: 0;
    z-index: 1;
  }
  #section .bakery{
    margin-top: 100px;
  }
  #section .bakery .b_title{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 14pt;
  }
  #section .bakery .b_txt{
    width: 90%;
    font-size: 10pt;
    text-align: center;
    margin-top: 10px;
  }
  #section .bakery .b_conts{
    flex-wrap: wrap;
    margin-top: 200px;
  }
  #section .bakery .b_conts>li{
    width: 200px;
  }
  #section .bakery .b_conts>li:nth-child(3),   #section .bakery .b_conts>li:nth-child(4){
    margin-top: 100px;
  }
  #section .bakery .b_conts>li .b_item{
    height: 300px;
  }
  #section .bakery .b_conts>li .b_t_name{
    margin-top: 5%;
    font-size: 10pt;
    padding: 3px 30px;
  }

  #section .stage{
    margin-top: 10px;
  }
  #section .stage .s_img{
    display: none;
  }
  #section .stage .s_conts{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  #section .stage .s_conts .s_title{
    font-size: 17pt;
    line-height: 50px;
  }
  #section .stage .s_conts p{
    font-size: 10pt;
    line-height: 20px;
  }
  #section .stage .s_conts .course{
    display: block;
  }
  #section .stage .s_conts .course>li{
    width: 100%;
    height: 300px;
  }
  #section .stage .s_conts .course>li .c_txt{
    display: none;
  }
  #section .stage .s_conts .course>li:nth-child(2){
    display: none;
  }
  #section .stage .s_conts .course>li:nth-child(3){
    display: none;
  }

  #section .insta .ins_title{
    font-size: 14pt;
  }
  #section .insta .ins_box{
    display: none;
  }
  #section .insta_mob{
    display: block;
  }
  #section .insta_mob .ins_story{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  #section .insta_mob .ins_story>li{
    width: 30%;
    height: 200px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
  }
  



}




